html, body, html * {
  font-family: 'Roboto';
}

header {
  justify-content: center;
}

.main {
  padding-left: 32px;
  float: top;
  padding-top: 32px;
}

.searchHeaderElement {
  margin-left: 8px;
  cursor: pointer;
}

.searchHeader {
  color: #0054b9;
  height: 44px;
}

.footerRight {
  float: right;
}

.footerLeft {
  float: left;
}

.footerLeftTitle {
  font-size: 80%;
  color: black;
}

.footerRightTitle {
  font-size: 80%;
  color: black;
}


.footerLeftSubtitle {
  font-size: 99%;
  color: #999999;
  cursor: pointer;
}

.searchFooter {
  height: 20px;
  width: 580px
}

.searchContainer {
  margin-left: 16px;
}

.search {
  padding-top: 32px;
}

.searchBoxArticle {
  width: 100%;
}

.searchButton {
  background-color: #ffdb4d;
  border: none;
  color:black;
  text-align: center;
  font-size: 16px;
  height: 30px;;
}

.searchInput {
  border: 0;
  margin-left: 8px;
  vertical-align: middle;
  font-size: 100%;
  width: 500px;
  align-content: center;
}

textarea:focus, input:focus{
  outline: none;
}

.stockExchange {
  color: black;
  font-size: 80%;
  margin-top: -16px;
  margin-left: 40px;
}

.searchBox {
  border-color: #ffdb4d;
  border-width: 3px;
  border-style: solid;
}

.stockExchangeCurrency {
  color: black;
  font-weight: 1000;
  margin-right: 8px;
}

.stockExchangeValue {
  color: black;
  font-weight: 0;
  font-size: 95%;
}

.stockExchangeDelta {
  color: green;
  font-weight: 0;
  font-size: 90%;
}

.newsDateSpan {
  color: #999999;
  font-size: 75.6%;
  padding-left: 8px;
}

.newsCitySpan {
  color: #6da2e1;
  cursor: pointer;
  padding-left: 4px;
}

.newsHeader {
  color: #0054b9;
  font-weight: 1000;
}

.news {
font-weight: lighter;
font-size: 90.6%;
}

.myLocation {
  color: #d1d1d1;
}

.headerRight {
  padding-right: 16px;
  float: right;
}

.headerLeft {
  float: left;
  padding-left: 16px;
}


footer {
  background-color: blue;
  color: white;
}

.float-left {
  float: left;
}

.oneLine {
  display: inline-block;
}